<h1>Edit product</h1>

<form id="edit-product" name="product">
  <div class="field">
    <label for="uid"> uid:</label>
    <input type="text" name="uid" id="uid" value="<%= uid %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="location"> location:</label>
    <input type="text" name="location" id="location" value="<%= location %>" >
  </div>

  <div class="field">
    <label for="is_mobile"> is_mobile:</label>
    <input type="text" name="is_mobile" id="is_mobile" value="<%= is_mobile %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Product" />
  </div>

</form>

<a href="#/index">Back</a>