<p>
  <b>Uid:</b>
  <%= uid %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Price:</b>
  <%= price %>
</p>

<p>
  <b>Location:</b>
  <%= location %>
</p>

<p>
  <b>Is mobile:</b>
  <%= is_mobile %>
</p>


<a href="#/index">Back</a>